APP_NAME=SafetyWatch
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=safetywatch_db
DB_USERNAME=root
DB_PASSWORD=

# FastAPI AI Service
AI_SERVICE_URL=http://localhost:8001

# Sanctum
SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost:5173,localhost:5500

# CORS
FRONTEND_URL=http://localhost:5500

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
EDGE_API_KEY=your-edge-api-key-here
